:root{
    --html-text-color: #191919;
    --html-font-size: 1rem;
    --html-font-family: sans-serif;
}

// reset defaults
html{
    color: var(--html-text-color);
    font-size: var(--html-font-size);
    font-family: var(--html-font-family);
    margin: 0;
    padding: 0;
    background-color: rgb(251 245 235);
}

// basic layout
.container{
    display: block;
    margin: 0 auto;
    padding: 0 1rem;
    @media screen and (min-width: 768px){
        width: 80%;
    }
}

// news feed
.news-feed-container{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.news{
    &-card{
        background-color: #fff;
        border-radius: 0.25rem;
        border: 1px solid #ccc;
        padding: 1rem;
        margin-bottom: 0.5rem;
        .title{
            font-weight: 600;
            margin-bottom: 0.5rem;
        }
        .sub-title{
            font-size: 0.875rem;
        }
    }
    &-feed-title{
        color: orange;
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 1rem;
    }
}